@font-face {
  font-family: Lexend;
  src: url("Lexend.woff2");
  font-display: swap;
}
body {
    background-color:#202F3D;
    position: relative;
}
h1 {
    color: white;
    font-family: "Lexend";
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
input {
    background-color: transparent;
    color: white;
    font-family: "Lexend";
    font-size: 30px;
    border: none;
}
input::placeholder {
    color: white;
}
input:focus {
    outline: none;
}
input:focus::placeholder {
    color: transparent;
}
h2 {
    color: white;
    font-family: "Lexend";
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    color: white;
    font-family: "Lexend";
    font-size: 14px;
    line-height: 1.4;
}
#nameplate {
    width: 480px;
    height: 150px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.versusContainers {
    display: flex;
    justify-content: center;
}
#playerName, #versus_playerName1, #versus_playerName2 {
    width: 100%;
    margin-top: 15px;
    font-weight: 700;
}
#nameplatePlayer1 {
    width: 480px;
    height: 150px;
    margin:0%;
    margin-bottom: 40px;
    display: none;
    margin-top: -65px;
}
#nameplatePlayer2 {
    width: 480px;
    height: 150px;
    margin:0%;
    margin-bottom: 40px;
    display: none;
    margin-top: -65px;
    margin-left: 5%;
}
#versus_config1 {
    display: none;
    gap: 15px;
    width: 100%;
    margin-right: 5%;
}
#versus_config2 {
    display: none;
    gap: 15px;
    width: 100%;
    margin-left: 5%;
}
.bubble {
    background-color: #18232e;
    margin: auto;
    border-radius: 25px;
    padding: 6px;
    width: 450px;
    height: 500px;
    display: block;
}
.matchCount {
    background-color: #18232e;
    border-radius: 5px;
    padding: 4px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}
#versus_data1 {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: none;
    text-align: center;
    width: 500px;
    display: none;
}
#versus_data2 {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: none;
    text-align: center;
    width: 500px;
    display: none;
}
li {
  padding: 2px;
  display: inline-block;
}
td {
    padding-left: 8px;
}
.dataIcon {
    width: 48px;
    height: 48px;
}
.bastionDataIcon {
    width: 48px;
    height: 56px;
}
table {
    float: left;
    padding-right: 25px;
}
hr {
    height: 0px;
    border: 0px solid #202F3D;
    color: #202F3D;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-radius: 25px;
}
#configUI {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;
    width: 46%;
}
.gamemodeDiv {
    background-color: #18232e;
    height: 30px;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}
#versus {
    background-color: #18232e;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#versusButton {
    border-radius: 25px;
    width: 100%;
}
button {
    background-color: #202F3D;
    color: white;
    font-family: "Lexend";
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 7px;
}
#gamemodeContent, #versus_gamemodeContent1, #versus_gamemodeContent2 {
    border-bottom: 25px;
    position: absolute;
    min-width: 100%;
    display: none;
    margin-top: 100px;
    background-color: #18232e;
    outline: 8px solid #202F3D;
    border-radius: 25px;
}
.gamemodeButton {
    border-radius: 25px;
}
.gamemodeItem {
    margin-right: 6px;
    background-color:#18232e;
}
.downArrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 120px;
    height: 20px;
    border: none;
    outline: none;
}
.slider::-webkit-slider-runnable-track {
    background: #18232e;
    height: 8px;
    border-radius: 5px;
}
.slider::-moz-range-track {
    background: #18232e;
    height: 8px;
    border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  margin-top: -6px;
}
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  margin-top: -6px;
}
#loadingScreen {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}
#versusSearch {
    margin-top: 7%;
    height: 40px;
    display: none;
}
#versusSearchText {
    margin-top: 0%; 
    height: 100%;
    width: 100%;
    font-weight: 600;
    text-align: center;
}
#back {
    background-color: #18232e;
    border-radius: 25px;
    width: 120px;
    height: 40px;
    margin-top: 20px;
    margin-left: 16px;
    display: none;
}