@font-face {
  font-family: Lexend;
  src: url("Lexend.woff2");
  font-display: swap;
}
body {
    background-color:#202F3D;
}
h1 {
    color: white;
    font-family: "Lexend";
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    color: white;
    font-family: "Lexend";
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h3 {
    color: white;
    font-family: "Lexend";
    font-size: 14px;
    line-height: 1.4;
}
#nameplate {
    width: 480px;
    height: 150px;
    margin-bottom: 40px;
    margin-top: 30px;
}
#nameplatePlayer1 {
    width: 480px;
    height: 150px;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-left: 160px;
    float: left;
}
#nameplatePlayer2 {
    width: 480px;
    height: 150px;
    margin-bottom: 40px;
    margin-top: 30px;
    margin-right: 160px;
    float: right;
}
.bubble {
    background-color: #18232e;
    margin: auto;
    border-radius: 25px;
    padding: 8px;
    width: 440px;
    height: 500px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  text-align: center;
}
#versus_data1 {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: none;
    text-align: center;
    width: 480px;
    margin-left: 160px;
    display: none;;
}
#versus_data2 {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: none;
    text-align: center;
    width: 480px;
    display: none;
}
li {
  padding: 5px;
  display: inline-block;
}
td {
    padding-left: 8px;
}
.dataIcon {
    width: 48px;
    height: 48px;
}
.bastionDataIcon {
    width: 48px;
    height: 56px;
}
table {
    float: left;
    padding-right: 30px;
}
hr {
    height: 0px;
    border: 0px solid #202F3D;
    color: #202F3D;
    border-top-width: 4px;
    border-bottom-width: 4px;
    border-radius: 25px;
}
#configUI {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 15px;
    width: 46%;
}
#versus_config1 {
    display: none;
    justify-content: left;
    align-items: left;
    gap: 15px;
    width: 34%;
    margin-left: 160px;
}
#versus_config2 {
    display: none;
    justify-content: right;
    align-items: right;
    gap: 15px;
    width: 34%;
    float:right;
    margin-right: 160px;
}
.gamemodeDiv {
    background-color: #18232e;
    height: 30px;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#versus {
    background-color: #18232e;
    width: 200px;
    height: 30px;
    border-radius: 25px;
    padding: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
#versusButton {
    border-radius: 25px;
    width: 100%;
}
button {
    background-color: #202F3D;
    color: white;
    font-family: "Lexend";
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 7px;
}
.gamemodeButton {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 120px;
    height: 20px;
    border: none;
    outline: none;
}
.slider::-webkit-slider-runnable-track {
    background: #18232e;
    height: 8px;
    border-radius: 5px;
}
.slider::-moz-range-track {
    background: #18232e;
    height: 8px;
    border-radius: 5px;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  margin-top: -6px;
}
.slider::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 20px;
  width: 20px;
  background: white;
  border-radius: 50%;
  margin-top: -6px;
}
#loadingScreen {
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: auto;
}
#versusSearch {
    margin-top: 7%;
    height: 40px;
    display: none;
}
#versusSearchText {
    margin-top: 0%; 
    height: 100%;
}